/* .n1{
    background-color: black;
}
.d1{
    margin-left: 40px;
}
.u1{
    margin-left: 40px;
}
.navbar-nav{
    margin-left: 30px;
} */
  .navbar{

    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color:#de9fad;
    
 } 
 .nav h2{
    margin-top: 0;
    font-size: 250%;
    /* margin-left: 76px; */
    color: white;
 }
  h2:hover{
    color: rgb(191, 147, 233);
 }
 ul{
    color: white;
    margin-top: .5%;
    margin-right: 250px;
    gap: 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
 }
 
 .h1{text-decoration: none;
    margin-top: 8%;
font-size: 200%;}
   

 a{text-decoration: none;
    color: white;
    /* font-size: 60px; */

 }